name: Build and Export frp-panel Docker Image

on:
  workflow_dispatch:  # 允许手动触发

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build Docker image
        run: |
          docker build -t frp-panel .

      - name: Save image to tar
        run: |
          docker save -o frp-panel.tar frp-panel

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: frp-panel-docker-image
          path: frp-panel.tar
